<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Now Playing Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="nowPlaying">
    <ion-card-content>
      <ion-card-header>Results: {{nowPlaying.total_results}}</ion-card-header>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="nowPlaying" >
    <ion-card-content *ngFor="let movie of nowPlaying.results">
      <ion-card-header> {{ movie.original_title }} </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}">
              </ion-col>
              <ion-col>
                <p> Overview: {{movie.overview}}</p>
              </ion-col>
              <ion-col>
                <h1> {{ movie.title }} </h1>
                <h4> Rating: {{movie.vote_average}}</h4>
                <h4> Release Date: {{movie.release_date}}</h4>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}">
                <ion-button (click)="movieClicked(movie)"> More Details & options</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
