<ion-header (loadeddata)="accountService.isLoggedIn();" (load)="accountService.isLoggedIn();" (loadstart)="accountService.isLoggedIn();" (loadedmetadata)="accountService.isLoggedIn();">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="accountService.login();"><img src="../../assets/icon/Google.png" style="height: 20px; width: 20px; margin-right: 5px; padding: 0;">  LOGIN WITH GOOGLE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
