<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Your Seen It List:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!movie">
    <ion-card-content>
      <ion-card-header>You haven't seen any movies!</ion-card-header>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="movie">
    <ion-card-content>
      <ion-card-title>Here's what you've watched already: click a movie for more details </ion-card-title>
    </ion-card-content>
  </ion-card>

<!--  <ion-list *ngFor="let item of watched; index as i">-->
  <ion-list *ngFor="let item of movie" (click)="movieClicked(item)">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://image.tmdb.org/t/p/w500{{ item.backdrop_path }}">
      </ion-thumbnail>
        <ion-title>{{ item.original_title }}</ion-title>
        <ion-label>
          <ion-text>{{item.tagline}}</ion-text>
        </ion-label>
      <!--      <ion-button (click)="movieClicked(movie.id)">Details</ion-button>-->
    </ion-item>
  </ion-list>


    <!--    works with hardcoded individual item, NEED TO APPLY ARRAY ABOVE-->
<!--  <ion-list *ngIf="movie">-->
<!--    <ion-item>-->
<!--      <ion-thumbnail slot="start">-->
<!--        <img src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}">-->
<!--      </ion-thumbnail>-->
<!--        <ion-title>{{ movie.original_title }}</ion-title>-->
<!--        <ion-label>-->
<!--          <ion-text>{{movie.tagline}}</ion-text>-->
<!--        </ion-label>-->
<!--      &lt;!&ndash;      <ion-button (click)="movieClicked(movie.id)">Details</ion-button>&ndash;&gt;-->
<!--    </ion-item>-->
<!--  </ion-list>-->

</ion-content>
