<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>The latest movie:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!latestType">
    <ion-card-content>
      <ion-card-header>None available, try at another time!</ion-card-header>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="latestType">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>Status: {{latestType.status}}</ion-card-title>
          </ion-col>
          <ion-col>
            <ion-card-subtitle>Movie ID: {{latestType.id}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>

      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="latestType" (click)="movieClicked(latestType)">
     <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="poster-image">
              <img src="https://image.tmdb.org/t/p/w500{{ latestType.poster_path }}">
            </ion-col>

            <ion-col>
              <h1> {{ latestType.title }} </h1>
              <h4> Rating: {{latestType.vote_average}}</h4>
              <h4> Release Date: {{latestType.release_date}}</h4>
              <img src="https://image.tmdb.org/t/p/w500{{ latestType.backdrop_path }}">
              <p> Overview: {{latestType.overview}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-card>
</ion-content>
