<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Watch Lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="movie-details">
        <ion-icon name="play"></ion-icon>
        <ion-label>Watch List</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="standings">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Watched</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
