<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      All Lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="success">
      <ion-tab-button tab="watch-list">
        <ion-icon name="play"></ion-icon>
        <ion-label>Watch List</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="watched-list">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>Watched</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
