<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Popular Movies List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="display: flex; justify-content: center; flex-direction: row">
  <ion-card *ngIf="popularMovies" style="max-width: 150px">
    <ion-list *ngFor="let movies of popularMovies.results">
      <ion-item>{{ movies.original_title }}</ion-item>
      <ion-img src="https://image.tmdb.org/t/p/original/{{ movies.poster_path }}"></ion-img>
    </ion-list>
  </ion-card>
</ion-content>
