<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">
  <ion-card>
    <ion-card-content>
      <ion-card-title style="text-align: center">{{ movie.original_title }}</ion-card-title>
      <ion-img style="max-width: 300px" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"></ion-img>
      <ion-card-subtitle>{{ movie.overview }}</ion-card-subtitle>
      <ion-list>
        <ion-item>{{ movie.release_date }}</ion-item>
        <ion-item>{{ movie.status }}</ion-item>
        <ion-item>{{ movie.tagline }}</ion-item>
        <ion-item>{{ movie.homepage }}</ion-item>
        <ion-item>{{ movie.runtime }}</ion-item>
        <ion-list *ngFor="let genre of movie.genres">
          <ion-item>{{ genre.name }}</ion-item>
        </ion-list>
      </ion-list>
      <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="false">
          <ion-icon name="heart"></ion-icon>
          <ion-label>Watched</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
</ion-content>
