<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div style="display: flex; flex-direction: row; justify-content: left; justify-items: left; margin-left: 0;">
      <ion-title>Search</ion-title>
      <div style="display: flex; height: 100%; text-align: center; margin: 5px; border: solid white 1px; padding: 0; width: 300px;">
        <ion-select id="searchCategory" value="All" (ionChange)="searchByName(null);" style="width: 100%;">
          <ion-select-option>All</ion-select-option>
          <ion-select-option>Upcoming</ion-select-option>
          <ion-select-option>Top Rated</ion-select-option>
          <ion-select-option>Popular</ion-select-option>
          <ion-select-option>Now Playing</ion-select-option>
        </ion-select>
      </div>


      <ion-item style="width: 100%; margin-right: 10px; padding: 1px;"><ion-input placeholder="Movie Title" style="padding: 1px;" id="searchBar" (ionInput)="searchByName();" (ionChange)="searchByName();" (load)="searchByName()" (loadeddata)="searchByName();" (loadedmetadata)="searchByName();" (loadstart)="searchByName();"></ion-input></ion-item>

    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
<!--<ion-card *ngFor="let movie of filtered; let i = index">-->
<!--  <ion-card-content>-->
<!--    <ion-card-title>-->
<!--      {{filtered[i].title}}-->
<!--    </ion-card-title>-->
<!--  </ion-card-content>-->
<!--</ion-card>-->
  <ion-card>
    <ion-card-content *ngFor="let movie of filtered">
      <ion-card-header> {{ movie.original_title }} </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}">
              </ion-col>
              <ion-col>
                <p> Overview: {{movie.overview}}</p>
              </ion-col>
              <ion-col>
                <h1> {{ movie.title }} </h1>
                <h4> Rating: {{movie.vote_average}}</h4>
                <h4> Release Date: {{movie.release_date}}</h4>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}">
                <ion-button (click)="movieClicked(movie)"> More Details & options</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <div style="display: flex; justify-content: center; width: 100%; padding-bottom: 15px;"><ion-button>More</ion-button></div>
  </ion-card>
</ion-content>

